#div1
{
    /* display: flex; */
    display: inline;
    text-align: center;
    position: fixed;
    /* margin-left: 1050px; */
    /* z-index: 10; */
    /* padding-left: 100px; */
    width: 25%;
    height: 625px;
    color: white;
    background-color: #777;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTse9qMb0o4irETXD0ymUPVwQqPEn_Bd77GQeQJdhX7v7bk9hchOj9zf7yNKOiiogyf78w&usqp=CAU');
}